@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-attachment: fixed;
  max-width: 5px;
  border:blanchedalmond ;
  justify-content: center;
}